<%= form_with(url:search_books_path,method: :get, local:true) do %>
<div class="row g-2 p-4">
  <div class="col-10">
    <%= text_field_tag(:keywords, nil, class: "form-control", type:"text", placeholder: 'Search for Books')%>
  </div>
  <div class="col-2">
    <%= submit_tag("Search", class: "btn btn-primary ") %>
  </div>
</div>
<% end %>
<h2 class="text-center p-4"> Top GoodReads Books </h2>
<%= paginate @books %>
<ol class="list-group list-group-numbered p-4">
<% @books.each do | book | %>
<li class="list-group-item"><%= link_to book.title, book %> was published by <%= link_to book.publisher.name, book.publisher %> </li>
<% end %>
</ol>
<%= paginate @books %>